<!--Navigation-->
<nav class="top-nav">
  <section class="nav-title">
    <a class="black active-nav">MAXINE KHO</a>
  </section>
  <section class="nav-links">
    <a class="black inactive-nav" href="/">Work</a>
    <a class="black active-nav" href="/about">About</a>
  </section>
</nav><br><br><br><br>

<!--Stylesheet-->
 <%= stylesheet_link_tag "style-resume" %>

<div class="resume-grid">
  <div class="column-one">
      <!--Name-->
    <h1><strong>Nice to meet you!</strong></h1><br>
    <h1><strong>I'm Maxine.</strong></h1><br>
  </div>

  <div class="column-two">
      <!--Bio-->
      <br><br>
      <strong>Born 1997, Manila.</strong><br>
      <br><br><br>

    <strong>Since the age of nine, I knew that I love making things with my hands.</strong><br><br><br>
      With a background in fine art, I first fell in love with graphic design, taking on <a href="https://www.behance.net/maxinekho" class="dashed" target="_blank">freelance projects</a> in my junior year of high school.<br><br>
      In 2015, I took a gap year and discovered about UX/ Product Design at <a href="https://www.behance.net/gallery/38408961/HeyKuya" class="dashed" target="_blank">HeyKuya</a>.<br><br>
      And a year later, I moved to NYC! <br>(So far, so great)<br>
  </div>

  <div class="column-three">
    <br><br>
    <!--Work Experience-->
    Previously at <a href="https://www.thesparkproject.com/" class="dashed" target="_blank">The Spark Project</a>, <a href="https://www.linkedin.com/company/blushup/" class="dashed" target="_blank">Blushup Beauty</a>, <a href="http://vigi.ph/" class="dashed" target="_blank">Vgrafiks Design Studio.</a><br><br>
    Currently at <a href="https://www.nyu.edu/life/information-technology/about-nyu-it.html" class="dashed" target="_blank">NYU IT</a> where I design software solutions that help make the workplace a more rewarding place to be.<br><br><br>
    Tools<br>
    <section class="list">
      <img src="<%= image_path("images/sketch_logo.png") %>">
<!--      <img src="<%#= image_path("images/invision_logo.png") %>">-->
      <img src="<%= image_path("images/abstract_logo.png") %>">
      <img src="<%= image_path("images/figma_logo.jpg") %>">
      <img src="<%= image_path("images/invision_logo.svg") %>">
      <img src="<%= image_path("images/icons8-intellij_idea.png") %>">
      <img src="<%= image_path("images/icons8-git.png") %>">
      <img src="<%= image_path("images/icons8-github.png") %>">
      <img src="<%= image_path("images/zeplin_logo.png") %>">
      <img src="<%= image_path("images/icons8-adobe_creative_cloud.png") %>">
      <img src="<%= image_path("images/google_analytics_logo.png") %>">
      <img src="<%= image_path("images/icons8-wordpress.png") %>">
    </section><br><br>
    Languages<br>
    <section class="list">
      <img src="<%= image_path("images/icons8-html_5.png") %>">
      <img src="<%= image_path("images/icons8-css3.png") %>">
      <img src="<%= image_path("images/icons8-js.png") %>">
      <img src="<%= image_path("images/icons8-python.png") %>">
      <img src="<%= image_path("images/icons8-ruby_programming_language.png") %>">
      <img src="<%= image_path("images/icons8-asterisk.png") %>">
    </section><br><br>
    What gets me fired up<br>
    <section class="list">
      <img src="<%= image_path("images/icons8-boxing.png") %>">
      <img src="<%= image_path("images/icons8-cookies.png") %>">
      <img src="<%= image_path("images/icons8-arduino.png") %>">
      <img src="<%= image_path("images/icons8-paint_palette.png") %>">
      <img src="<%= image_path("images/icons8-brain.png") %>">
      <img src="<%= image_path("images/icons8-airport.png") %>">
      <img src="<%= image_path("images/icons8-music_record.png") %>">
    </section><br><br>
    Literally?<br>
    <section class="list">
      <img src="<%= image_path("images/shrimp.png") %>"> &nbsp;
      <img src="<%= image_path("images/crab.png") %>">
    </section>
  </div>
</div><br><br><br><br><br><br><br>

<%= render "footer" %>