<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--Navigation-->
<nav class="top-nav">
    <section class="nav-title">
        <a class="black">MAXINE KHO</a>
    </section>
    <section class="nav-links">
        <a class="black active-nav" href="/">Work</a>
        <a class="black inactive-nav" href="/about">About</a>
    </section>
</nav>

<!--Header-->
<div class="header">
    <div class="header-photo">
        <img src="<%= image_path("images/max-pic.jpg") %>" alt="maxine's photo" id="profile_photo"><br>
    </div>
    <div class="header-intro">
        <h1>I'm Maxine–</h1>
        <h1 class="bio">I’m a product designer currently studying at NYU. I design to drive decision-making and enhance everyday human experiences.</h1>
        <a class="blue" href="https://engineering.nyu.edu/" target="_blank">@NYU Tandon</a> 2020 Integrated Digital Media<br>
        Product Designer at <a class="blue" href="https://www.nyu.edu/life/information-technology/about-nyu-it.html">@NYU IT</a>
      <br><br><br><br><br><br><br><br>
    </div>
</div>

<!--Scroll Down-->
<div class="animated bounce" id="scroll-down-arrow"><h1>&#42780;</h1></div>
<br><br><br><br><br>

<nav>

</nav>

<!--Projects: Product Design-->
<div class="container-projects" id="product-design-projects">
    <!--Project 1: Janus-->
    <div class="two-col">
        <div class="container__project-image">
            <img src="<%= image_path("images/janus@2x.png") %>" alt="janus" class="img-project drop-shadow">
        </div>
        <div class="container__project-text">
            <h3 class="janus-color"><strong>↓ PROJECT NO. 01</strong></h3><br>
            <div class="project__text-title"><div class="janus-color"><strong>Janus</strong></div> –– Simplifying a labor-intensive hiring process<br><br></div>
            <div class="project__text-details">
              <h3 class="janus-color">CLIENT</h3>NYU Office of Undergraduate Academics
              <h3 class="janus-color">ROLE</h3>Product Designer
              <h3 class="janus-color">DURATION</h3>February 2018-Present<br><br><br>
            </div>
            <a href="/projects/janus" class="view__link view__link-padding">View Project &rarr;</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

    <!--Project 2: Treasury Portal-->
    <div class="two-col">
        <div class="container__project-image">
            <img src="<%= image_path("images/tp@2x.png") %>" alt="treasury portal" class="img-project drop-shadow">
        </div>
        <div class="container__project-text">
            <h3 class="treasury-color"><strong>↓ PROJECT NO. 02</strong></h3><br>
            <div class="project__text-title"><div class="treasury-color"><strong>Treasury Portal</strong></div> –– Designing an enterprise system with high data density<br><br></div>
            <div class="project__text-details">
                <h3 class="treasury-color">CLIENT</h3>NYU Treasury
                <h3 class="treasury-color">ROLE</h3>Product Designer
                <h3 class="treasury-color">DURATION</h3>June 2018-Present<br><br><br>
            </div>
            <a href="/projects/treasury" class="view__link view__link-padding">View Project &rarr;</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>

    <!--Project 3: OpenTable Tab-->
    <div class="two-col">
        <div class="container__project-image">
            <img src="<%= image_path("images/opentable2x.png") %>" alt="opentable tab" class="img-project">
        </div>
        <div class="container__project-text">
            <h3 class="open-table-tab-color"><strong>↓ PROJECT NO. 03</strong></h3><br>
            <div class="project__text-title"><div class="open-table-tab-color"><strong>OpenTable Tab</strong></div> –– Streamlining the social smart-dining experience<br><br></div>
            <div class="project__text-details">
                <h3 class="open-table-tab-color">PROJECT</h3>A 13-week design challenge
                <h3 class="open-table-tab-color">SKILLS USED</h3>Product Thinking, User Research, Visual Design
                <h3 class="open-table-tab-color">DURATION</h3>Feb-May 2018<br><br><br>
            </div>
            <a href="/projects/opentable" class="view__link view__link-padding">View Project &rarr;</a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br>
</div>

<%= render "footer" %>