<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--JS-->
<%= javascript_include_tag 'script.js' %>

<!--Page Title-->
<% title "MAXINE KHO" %>

<!--Navigation-->
<body>
<nav class= "fixed-nav row">
  <div class="col-md-5ths">
    Maxine Kho<br>
    Visual+Product Designer
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
    <a class="active-nav dashed" href="/">Work</a>
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/about">About</a>
  </div>
  <div class="col-md-5ths">
  </div>
</nav>

<!--Page Content-->
<div class="bulk-content">

  <div class="row project-nav">
    <div class="col-md-5ths">
      Selected works<br><br>
    </div>
    <div class="col-md-5ths">
      <a class="project-type active-type" id="product-design" onclick=showProjects('product-design') tabindex="0">Design</a> <br>
<!--      <a class="project-type" id="data-art" onclick=showProjects('data-art')>Data Art</a> <br>-->
      <a class="project-type" id="play" onclick=showProjects('play') tabindex="0">Play</a><br>
      <a class="project-type" id="motion" onclick=showProjects('motion') tabindex="0">Motion</a>
    </div>
    </div>

  <!--Projects: Product Design-->
  <div class="container-projects" id="product-design">

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 1: FB Empty State for Media Items-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/project-facebook/interface.jp2") %>" alt="facebook">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange">↓ 01</h3><br>
        <strong>Facebook</strong><br>
        Creating and maintaining components for Ads and Business interfaces
        <br><br>
        <a href="/projects/facebook" class="dashed">See overview &rarr;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
        <!--Project 2: Janus-->
        <div class="col-md-2-5ths project-index">
          <div class="project-image">
            <img src="<%= image_path("images/janus@2x.jp2") %>" alt="janus">
          </div>
        </div>
        <div class="col-md-5ths text-center">
          <h3 class="channel-orange">↓ 02</h3><br>
          <strong>Janus</strong><br>
          Simplifying a labor-intensive hiring process
          <br><br>
          <a href="/projects/janus" class="dashed">See case study &rarr;</a>
        </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 3: Treasury Portal-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/tp@2x.jp2") %>" alt="treasury portal">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange">↓ 03</h3><br>
        <strong>Treasury Portal</strong><br>
        Designing an enterprise system with high data density<br><br>
        <h3 class="channel-orange">Available upon <a href="mailto:maxinekho@nyu.edu" class=" channel-orange">request</a></h3>
    <!--<a href="/projects/treasury" class="dashed">See case study &rarr;</a>-->
      </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 4: OpenTable Tab-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/opentable2x.jp2") %>" alt="opentable tab">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange">↓ 04</h3><br>
        <strong>OpenTable Tab</strong><br>
        Split the check without losing friends<br><br>
        <h3 class="channel-orange">Available upon <a href="mailto:maxinekho@nyu.edu" class=" channel-orange">request</a></h3>
      </div>
    </div>
  </div>

    <!--Projects: Data Art-->
<!--  <div class="container-projects" id="data-art" style="display:none">-->

<!--    <div class="row">-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--      Project 1: Portrait of a Dish-->
<!--      <div class="col-md-2-5ths project-index">-->
<!--        <div class="project-image">-->
<!--          <img src="<%#= image_path("images/dish.png") %>" alt="portrait of a dish" class="img-project">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-5ths text-center">-->
<!--        <h3 class="channel-orange"><strong>↓ 01</strong></h3><br>-->
<!--        <strong>Portrait of a Dish</strong><br>-->
<!--        A culinary breakdown<br><br>-->
<!--        <a href="/projects/dish" class="dashed">See project doc &rarr;</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--      Project 2: A Pizz'a My Data-->
<!--      <div class="col-md-2-5ths project-index">-->
<!--        <div class="project-image">-->
<!--          <img src="<%#= image_path("images/project-pizza/pizza.png") %>" alt="pizza" class="img-project">-->
<!--        </div>-->
<!--      </div>-->
<!--        <div class="col-md-5ths text-center">-->
<!--          <h3 class="channel-orange"><strong>↓ 02</strong></h3><br>-->
<!--          <strong>A Pizz'a My Data</strong><br>-->
<!--          I baked (and ate) my own health data from a pizza hop<br><br>-->
<!--          <a href="/projects/pizza" class="dashed">See project doc &rarr;</a>-->
<!--        </div>-->
<!--      </div>-->

<!--    <div class="row">-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--      <div class="col-md-5ths">-->
<!--      </div>-->
<!--Project 3: On the Rocks-->
<!--      <div class="col-md-2-5ths project-index">-->
<!--          <div class="project-image">-->
<!--            <img src="<%#= image_path("images/project-ice/ice-all.JPG") %>" alt="on the rocks" class="img-project">-->
<!--          </div>-->
<!--        </div>-->
<!--          <div class="col-md-5ths text-center">-->
<!--            <h3 class="channel-orange">↓ 03</h3><br>-->
<!--            <strong>On the Rocks</strong><br>-->
<!--            Visualizing the melting rate of ice sheets in the Antarctic<br><br>-->
<!--            <a href="/projects/ice" class="dashed">See project doc &rarr;</a>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->

  <!--Projects: Play-->
  <div class="container-projects" id="play" style="display:none">

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 1: Portrait of a Dish-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/dish.jp2") %>" alt="portrait of a dish" class="img-project">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange"><strong>↓ 01</strong></h3><br>
        <strong>Portrait of a Dish</strong><br>
        A culinary breakdown<br><br>
        <a href="/projects/dish" class="dashed">See project doc &rarr;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 2: Lucky Cat Wave-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/project-lucky-cat/lucky-cat.jp2") %>" alt="lucky cat wave">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange">↓ 02</h3><br>
        <strong>Lucky Cat Wave</strong><br>
        Wish upon a lucky cat<br><br>
        <a href="/projects/luckycat" class="dashed">See project doc &rarr;</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 3: Disclosure-ify Yourself-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/project-disclosure-ify/disclosure.jp2") %>" alt="disclosure-ify yourself">
        </div>
      </div>
        <div class="col-md-5ths text-center">
          <h3 class="channel-orange">↓ 03</h3><br>
          <strong>Disclosure-ify Yourself</strong><br>
          A scribble face generator<br><br>
          <a href="/projects/disclosure" class="dashed">See project doc &rarr;</a>
        </div>
    </div>
  </div>

  <!--Projects: Motion-->
  <div class="container-projects" id="motion" style="display:none">

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 1: Laundry Room-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/brillo.jp2") %>" alt="laundry room">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange"><strong>↓ 01</strong></h3><br>
        <strong>Laundry Time</strong><br>
        A peek into the laundry room<br><br>
        <a href="https://vimeo.com/335311370" class="dashed">Watch in full ↗</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5ths">
      </div>
      <div class="col-md-5ths">
      </div>
      <!--Project 2: How to Deseed an Avocado-->
      <div class="col-md-2-5ths project-index">
        <div class="project-image">
          <img src="<%= image_path("images/avocado.jp2") %>" alt="how to deseed an avocado">
        </div>
      </div>
      <div class="col-md-5ths text-center">
        <h3 class="channel-orange">↓ 02</h3><br>
        <strong>How to Deseed an Avocado</strong><br>
        Farm to (O.R.) table goodness<br><br>
        <a href="https://vimeo.com/332132239" class="dashed">Watch in full ↗</a>
      </div>
    </div>
  </div>

</div><br>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593; Back to top</button>

<!--Footer-->
<%= render "home/footer" %>

</body>