<!--JS-->
<%= javascript_include_tag 'script.js', 'modal.js', 'progress.js' %>

<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--Page Title-->
<% title "On the Rocks –– MAXINE KHO" %>

<!--Navigation-->
<nav class= "fixed-nav row">
  <div class="col-md-5ths">
    Maxine Kho<br>
    Visual+Product Designer
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/">Work</a>
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/about">About</a>
  </div>
  <div class="col-md-5ths">
  </div>
</nav>

<!--Progress Bar-->
<div class="progress-indicator">
  <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
  </div>
</div>

<!-- The Modal -->
<div id="zoomModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>



<!--Bulk Content-->
<div class="bulk-content">

  <div class="row">
    <div class="col-md-5ths project-this">
      <h3 class="channel-orange">↓ THIS</h3><br>
      <div class="channel-orange"><strong>On the Rocks</strong></div><br><br>
      <!--Project Summary-->
      <div>
        <h3>ABOUT</h3><br>
        <strong>Timeframe:</strong> March 2019 (1 week)<br><br>
        <h3>USING</h3><br>
        Data Visualization<br>
      </div>
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <iframe src="https://player.vimeo.com/video/327443144" width="440" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><br>
      Ice caps and sheets are miles away and we don’t exactly see sea level rise. How might we bring this momentous phenomenon closer to those contributing to it?<br><br> My goal is to communicate this relatively imperceivable phenomenon through a tangible, visual piece.
    </div>
    <div class="col-md-5ths">
        <br><br><br>Visualizing the rate of ice mass lost from 2003-2018 using wax sculptures in water
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <img src="<%= image_path("images/project-ice/polar.jpg") %>" class="zoomImages" alt="The Antarctic today">
    </div>
    <div class="col-md-5ths">
      <strong>The Antarctic</strong><br><br>
      Contains close to 99% of the world’s fresh water<br>
      Suffering a 200-ft sea level rise<br><br>
      Photo by Ralph Lee Hopkins, Nat Geo Image Collection<br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
          <ul><br>
            <strong>What are the consequences?</strong><br><br>
            <li>Heat absorption which increases the melting rate of ice</li>
            <li>Rise in sea levels and changes in water currents</li>
            <li>Weather formation across the planet</li>
            <li>Relocation of shipping ports</li>
            <li>Threats to wildlife, Inuits, and indigenous peoples</li>
          </ul><br>
      <strong>Data Source</strong><br><br>
      NASA’s GRACE satellites measured the rate at which the ice sheets in Antarctica (and Greenland) have been losing mass since 2002. On top of that, its records show that the rate of loss in mass has been accelerating since 2009.<br><br>
      <img src="<%= image_path("images/project-ice/nasa.png") %>" class="zoomImages" alt="Data recorded by NASA's GRACE satellite">
    </div>
    <div class="col-md-5ths case-image">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths">
    </div>
    <div class="col-md-5ths case-image">
       <strong>Ideation Phase</strong><br><br>
       <img src="<%= image_path("images/project-ice/ideation.JPG") %>" class="zoomImages" alt="Noted some of my thoughts and ideas for this project">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <img src="<%= image_path("images/project-ice/process.JPG") %>" class="zoomImages" alt="Noted some of my thoughts and ideas for this project">
    </div>
    <div class="col-md-5ths case-image">
      To translate the data better to the scale that I wanted to work in, I increased the scale from 10^9 to 10^11. This reduced the value to something more countable and controllable.<br><br>
      I also intentionally set May as the month from which I will gather every three years' melting rate. I decided that presenting 6 of the 17 years' data was sufficient to communicate the message I wanted to convey.<br><br>
      To keep the piece current and thought-provoking, I decided to use NASA's prediction for 2018's melt rate.<br><br>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
       <img src="<%= image_path("images/project-ice/candle.gif") %>" class="zoomImages" alt="">
    </div>
    <div class="col-md-5ths">
      Of the different melting methods (straight from the candle, in a spoon, in a nonstick pan) I experimented with, I resorted to the pan. The large amount of wax I could melt in it allowed me to measure the melted wax by the tablespoon that would correspond to the melting rates recorded on a 10^11 scale. <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <img src="<%= image_path("images/project-ice/all.JPG") %>" class="zoomImages" alt=" "><br>
      And then into their respective glasses, pre-filled with 2/3 cups of water.<br><br>
      The wax structures displaced the water in the glasses, revealing the density and mass of the irregular wax structures. At the same time, it suggests the rise of sea levels as a result of global warming.<br><br>
      To guide the viewer, I dropped glue dots onto the base of the glasses depending on the last two digits of the year that the glass represents: 3 dots for 2003, 6 for 2006, and so on.
    </div>
    <div class="col-md-5ths case-image">
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong>2003 vs. 2018</strong><br><br>
      <img src="<%= image_path("images/project-ice/vs.JPG") %>" class="zoomImages" alt=" "><br><br><br>
      I hope that the piece makes people realize how quickly the ice sheets are melting due to climate change and allow them to predict how the coming years might look like if the melting continues at this rate.
    </div>
    <div class="col-md-5ths">
      <br><br>Experimenting my way to the finished product was fulfilling. I was glad I chose to skip through some years– I could imagine the effect not having as much impact if I had presented gradual changes in this small scale. <br><br>
      Having had the inverted ice (or wax) caps float in their own glasses allowed myself and viewers to pick out certain glasses for comparison– just like the one between 2003 and 2018 pictured above.<br><br>
    </div>
  </div><br>

  <!--Next Project-->
  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <!--Project 1: A Pizz'a My Data-->
    <div class="col-md-2-5ths project-index">
      <div class="project-image">
        <img src="<%= image_path("images/project-pizza/pizza.png") %>" alt="pizza" class="img-project">
      </div>
    </div>
    <div class="col-md-5ths text-center">
      <h3 class="channel-orange"><strong>↓ NEXT</strong></h3><br>
      <strong>A Pizz'a My Data</strong><br>
      I baked (and ate) my own health data from a pizza hop<br><br>
      <a href="/projects/pizza" class="dashed">View the project doc &rarr;</a>
    </div>
  </div>

</div>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593; Back to top</button>

<%= render "home/footer" %>