<!--JS-->
<%= javascript_include_tag 'script.js', 'modal.js', 'progress.js' %>

<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--Page Title-->
<% title "Janus –– MAXINE KHO" %>

<!--Navigation-->
<body>
<nav class= "fixed-nav row">
  <div class="col-md-5ths">
    Maxine Kho<br>
    Visual+Product Designer
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/">Work</a>
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/about">About</a>
  </div>
  <div class="col-md-5ths">
  </div>
</nav>

<!--Progress Bar-->
<div class="progress-indicator">
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</div>

<!-- The Modal -->
<div id="zoomModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>

<!--Bulk Content-->
<div class="bulk-content">

  <div class="row">
    <div class="col-md-5ths project-this">
      <h3 class="channel-orange">↓ THIS</h3><br>
      <div class="channel-orange"><strong>Janus</strong></div><br><br>
      <!--Project Summary-->
      <div>
        <h3>ABOUT</h3><br>
        <strong>Timeframe:</strong> Feb-Dec 2018<br>
        <strong>Role:</strong> Product Designer<br><br>

        <h3>USING</h3><br>
        User Research<br>
        Wireframing<br>
        Systems Thinking<br>
        Prototyping<br>
        User Testing<br>
      </div>
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div><br>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <img src="<%= image_path("images/project-janus/logo.png") %>" id="project-logo" alt="Janus project logo"><br>
      <strong>Janus</strong> is a front-end data entry and storage application interfaced with university systems to optimize the hiring process for the NYU Tandon Summer Research Program.
      <p>Janus was my first project at NYU IT.
    </div>
    <div class="col-md-5ths">
      <strong>Simplifying a labor-intensive hiring process</strong><br><br>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong>My Design Process</strong><br>
      <img src="<%= image_path("images/project-janus/process.png") %>" class="zoomImages" alt="My design process in timeline form">
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-2-5ths case-image">
    <img src="<%= image_path("images/project-janus/primary-audience.png") %>" class="zoomImages" alt="Primary stakeholders for this project">
  </div>
  <div class="col-md-5ths text-center">
    <br><br><strong>1. Understand and ask questions</strong><br>
    The product owner and my project manager briefed me about the <a href="https://engineering.nyu.edu/research-innovation/student-research/undergraduate-summer-research-program" class="dashed" target="_blank">NYU Tandon Summer Research Program ↗</a>, the hiring process that is currently in place, and primary audiences involved.<br>
  </div>
</div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      I studied the legacy system:<br><br>
      <img src="<%= image_path("images/project-janus/legacy.png") %>" class="zoomImages" alt="The legacy hiring process for the NYU Tandon Summer Research Program"><br>
    </div>
    <div class="col-md-5ths text-center">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths">
      <strong>The Problem</strong><br><br>
      In current process, administrators <p class="channel-orange">transfer and duplicate data across a range of applications.</p> They spend<p class="channel-orange"> five months</p> organizing information and onboarding student hires for a 10-week research program.<br><br>
      Time and effort that could have been directed towards student engagement and professional growth is instead spent carrying out<p class="channel-orange"> manual administrative processes.</p>
    </div>
    <div class="col-md-5ths">
      <br><br>Additionally, <p class="channel-orange">opportunities are lost</p> when students miss deadlines or are rejected due to incomplete documents as a result of the <p class="channel-orange">disjointed process.</p>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths">
      <strong>User Goals</strong><br>
      <ul>
          <li>To eliminate as much manual labor (inputting, compiling, storing, and viewing data) possible</li>
          <li>To provide opportunities for data mining</li>
          <li>To minimize manual labor, paper and energy waste</li>
          <li>To introduce a process that encourages maximum engagement from both SRP faculty and students</li>
      </ul>
    </div>
    <div class="col-md-5ths">
      <br><br><em>"How might we close experience gaps in the current hiring process?"<br></em>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong>2. Reeaaally understand</strong><br><br>
      To deliver the solution–one that does not only hit all the goals identified but also maximizes opportunities (for the three user groups)– I needed to ‘digest’ the current workflow and all possible use cases.<br><br>
    <img src="<%= image_path("images/project-janus/user-flows.png") %>" class="zoomImages" alt="Janus user flows highlighting each stakeholder">
    </div>
    <div class="col-md-5ths">
      <br><br>Being an avid (and slightly obsessive) notetaker, I made color-coded diagrams!<br><br>
      The workflow’s complexities became more digestible to me as I grouped action points together according to the ‘user in action’.<br>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
          I also spent time understanding all the interactions necessary for one complete cycle (a.k.a. successfully hiring one student). The interaction illustrated by the back and forth and crossing over of actions in my diagram led to an insight that informed my design decisions: <p class="channel-orange">The SRP workflow is highly procedural and response-driven.</p>
    </div>
    <div class="col-md-5ths">
      Looking at the diagram I put together, my PM and I carefully identified which steps to adopt, automate, or omit from the current hiring process.
      </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <strong>3. Identify process expectations for the system</strong><br><br>
        <img src="<%= image_path("images/project-janus/system-design.png") %>" class="zoomImages" alt="Setting system design expectations"><br>
        Instead of taking on all three users’ ends simultaneously, I decided to delve deeper into the faculty side first their input is key to launching the rest of the three-way interaction.<br><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        After defining the workflows, constraints, and expected functions for each stakeholder, it was time to dip my toes in the water.<br><br>
        <img src="<%= image_path("images/project-janus/about.png") %>" class="zoomImages" alt="Janus application form for faculty members who want to endorse their research projects for posting">
    </div>
    <div class="col-md-5ths">
      <em>"Do I start with the dashboard? Page navigation?"</em><br><br>
      With the overwhelming amount of liberty I had at this stage, I decided to start with one core feature– <p class="channel-orange">the application form.</p><br><br> I reviewed last summer’s project list to gain more insight on the pieces of information and the level of specificity required for a project posting.<br>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      From here, I asked questions like:<br><br>
      “How can a mentor access each application form? be notified of a successful posting?”<br><br>
      This brought me to design the <p class="channel-orange">dashboard.</p><br><br>
      <img src="<%= image_path("images/project-janus/dashboard-within@2x.png") %>" class="zoomImages" alt="Faculty view of the Janus dashboard"><br><br>
      To expand the scope of my design, I diagrammed use cases ranging from the simple to complex situations that faculty mentors would most likely experience in their hiring journeys.<br><br>
        In doing so, I was able to better identify the expected functionality and features of Janus.<br><br>
      <img src="<%= image_path("images/project-janus/use-cases.png") %>" class="zoomImages" alt="Six use cases (including edge cases) for selecting and hiring student researchers">
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong>4. Create designs that nudge decision-making and behavior</strong><br><br>
      <img src="<%= image_path("images/project-janus/progress.png") %>" class="zoomImages" alt="The checklist format provides users with contextual guidance."><br><br>
    </div>
    <div class="col-md-5ths">
      <br><br><em>"How can each stakeholder best accomplish his/her tasks?"</em><br><br>
      The checklist format for completing steps in the process provides the user with <p class="channel-orange">contextual guidance</p> at any given time.<br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      In addition to this, the task-focused interface is infused with <p class="channel-orange"><strong>progress indicators</strong></p>.<br><br>
        <img src="<%= image_path("images/project-janus/form.png") %>" class="zoomImages" alt="The progress indicator guides the user as he/she accomplishes tasks">
    </div>
    <div class="col-md-5ths">
      These could be used to track higher-level interactions with other users in the system.<br><br> These features allow users to have a sense of control over a complex, response-driven workflow.
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <img src="<%= image_path("images/project-janus/cards.png") %>" class="zoomImages" alt="Users have access to high-level information visible throughout the system."><br>
      Project cards provide <p class="channel-orange"><strong>high-level information and status visibility</strong></p> for each project.<br>

    </div>
    <div class="col-md-5ths">
    </div>
  </div><br><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <img src="<%= image_path("images/project-janus/transparency.png") %>" class="zoomImages" alt="After completing their share of tasks, faculty mentors can monitor the status of each hired student in real-time.">
    </div>
    <div class="col-md-5ths">
      After completing their share of tasks, faculty mentors can monitor the status of each hired student in real-time. <br><br>Potential roadblocks in the hiring process immediately come to surface in this transparent ecosystem.<br><br>
        <a class="btn__prototype" type="button" href="https://projects.invisionapp.com/share/4FOFYWX98ZJ#/screens/324142675" target="_blank">View Prototype</a>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
        <strong>5. Host focus groups and feedback sessions</strong><br><br>
        <img src="<%= image_path("images/project-janus/focus.jpg") %>"><br>
        The more comprehensive the flows that we opened for feedback and testing, the more valuable and actionable the responses we received. For each session, we made sure that the product’s surface area, design-wise, was expansive enough to elicit valuable discussion and critique/feedback.<br><br>We transitioned from showing stakeholders high-level screens and interactions to more personable, workflow-specific flows. Regularly opening the product to testing also gave our stakeholders an idea of the project development schedule.<br><br>
    </div>
    <div class="col-md-5ths">
    </div>
    </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths">
      <strong>Takeaways</strong><br><br>
      1. It’s practical to build by component.<br>
      For the student and admin sides, I could reuse (and possibly expand) the design system I had already created to unify all three ends under the same umbrella platform.<br><br>
      2. Anticipate interactions among all three ends.<br>
      Keeping the color-coded workflow in mind, even while designing for just one stakeholder at a time, enabled me to identify features that facilitated end-to-end data transmission and communication.<br><br>
      3. Seek out feedback by organizing feedback sessions.<br>
      Feedback is the most powerful driver of my design decisions– whether it involves backtracking to a previous solution/decision or testing a range of hypotheses.<br><br>
      4. There is always someone I can serve better.<br>
      It pays to go out of my way to get to know users, their habits and behaviors in person if I want to accommodate as many kinds of people as possible– tech geeks, busy bees, disabled users, etc.
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

</div>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593; Back to top</button>

<%= render "home/footer" %>