<!--JS-->
<%= javascript_include_tag 'script.js', 'modal.js', 'progress.js' %>

<!--Stylesheet-->
<%= stylesheet_link_tag "style-project" %>

<!--Page Title-->
<% title "Lucky Cat Wave –– MAXINE KHO" %>

<!--Navigation-->
<nav class="top-nav">
  <section class="nav-title">
    <a class="black active-nav">MAXINE KHO</a>
  </section>
  <section class="nav-links">
    <a class="black inactive-nav" href="/">Work</a>
    <a class="black inactive-nav" href="/about">About</a>
  </section>
</nav>

<!--Progress Bar-->
<div class="progress-indicator">
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>
</div>

<!-- The Modal -->
<div id="zoomModal" class="modal">

    <!-- The Close Button -->
    <div class="tooltip">Hover over me
        <span class="close">&times;</span>
        <span class="tooltip-text">Close</span>
    </div>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>

<!--Title + Content-->
<div class="container">
  <br><br><br><br>
  <h1><strong>Lucky Cat Wave</strong></h1>
  <br>

  <iframe src="https://player.vimeo.com/video/324863644" width="640" height="360" frameborder="0" allowfullscreen></iframe><br><br>
  <h5><em>Wish upon the lucky cat</em></h5>

  <!--Project Intro + Summary-->
  <div class="two-col">

    <!--Project Intro-->
    <div>
      <p>The challenge was to make a physically interactive system that responds to an input and produces an output. This needs to happen over a WiFi connection with the microcontroller acting as either a client or a server.</p>
    </div>

    <!--Project Summary-->
      <div>
        <h4><strong>ABOUT</strong><br></h4>
            <strong>Timeframe:</strong> February 2019 (2 weeks)<br>
            <strong>Tools:</strong> ESP8266, Arduino (aREST), soldering iron, Processing (p5.js)<br><br>
      </div>
  </div><br><br>

  <!--Project Content-->
    <iframe src="https://player.vimeo.com/video/323947878" width="640" height="360" frameborder="0" allowfullscreen></iframe><br><br>

  <div class="condense">

    <h5><strong>Interaction Design</strong></h5>

      The light as a signifier was helpful when I was first testing the servo on the cat. Because I put the <em>ledOn</em> and <em>ledOff</em> commands before and after the servo command, I could tell whether the servo was responding without waiting on it forever. <br><br>
    As for the physical cat, I used a combination of modeling clay (everything but the arm) and Play-Doh (just the arm). My guess was that the servo wouldn’t move because the clay arm was too heavy.<br><br>

      <h5><strong>Cue the chicken wing</strong></h5>
  </div>

  <img src="<%= image_path("images/project-lucky-cat/lucky-cat.gif") %>" class="zoomImages" alt="My initial prototype"><br><br><br><br>
</div>

<!--Next Project-->
<div class="two-col">
  <div class="container__project-image">
    <img src="<%= image_path("images/project-disclosure-ify/disclosure.gif") %>" alt="disclosure-ify yourself" class="img-project">
  </div>
  <div class="container__project-text">
    <h3 class="default-spec-color"><strong>↓ NEXT PROJECT</strong></h3><br>
    <div class="project__text-title"><div class="default-color"><strong>Disclosure-ify Yourself</strong></div>
      <br><br></div>
    <div class="project__text-details">
      <h3 class="default-spec-color">PROJECT</h3>A Disclosure "scribble face generator" for my Creative Coding class project
      <h3 class="default-spec-color">USING</h3>p5 via OpenProcessing
      <h3 class="default-spec-color">TIMEFRAME</h3>December 2017<br><br><br>
    </div>
    <a href="/projects/disclosure" class="view__link view__link-padding">View Project Doc &rarr;</a>
  </div>
</div>
<br><br><br><br><br><br><br><br>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593;</button>

<%= render "home/footer" %>