<!--JS-->
<%= javascript_include_tag 'script.js', 'modal.js', 'progress.js' %>

<!--Stylesheet-->
<%= stylesheet_link_tag "style" %>

<!--Page Title-->
<% title "Treasury Portal –– MAXINE KHO" %>

<!--Navigation-->
<body>
<nav class= "fixed-nav row">
  <div class="col-md-5ths">
    <strong>Maxine Kho</strong><br>
    Product Designer
  </div>
  <div class="col-md-5ths">
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/">Work</a>
  </div>
  <div class="col-md-5ths">
    <a class="inactive-nav dashed" href="/about">About</a>
  </div>
  <div class="col-md-5ths">
  </div>
</nav>

<!--Progress Bar-->
<div class="progress-indicator">
  <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
  </div>
</div>

<!-- The Modal -->
<div id="zoomModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

</div>

<!--Bulk Content-->
<div class="bulk-content">

  <div class="row">
    <div class="col-md-5ths project-this">
      <h3 class="channel-orange">↓ THIS</h3><br>
      <h1><strong>Treasury Portal</strong></h1><br><br>
      <!--Project Summary-->
      <div>
        <h3>ABOUT</h3><br>
        <strong>Timeframe:</strong> June 2018 - Jan 2019<br>
        <strong>Role:</strong> Product Designer<br>
        <strong>Team:</strong> Developers (3), Manager, Product Owner<br><br>

        <h3>USING</h3><br>
        User Research<br>
        Information Architecture<br>
        Wireframing<br>
        Systems Thinking<br>
        Prototyping<br>
      </div>
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div><br>
  </div>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths">
      <br><strong><h3>BACKGROUND</h3></strong><br>
      <br>NYU uses tax free bond money to reimburse money spent on ongoing building maintenance and construction projects. <br><br> To avoid regulation violations, Treasury users currently work in a legacy system to manage bonds and generate reports and requests.<br><br>
      What does this legacy process look like?
    </div>
    <div class="col-md-5ths">
      <br>
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <img src="<%= image_path("images/project-treasury/formula-sheet.png") %>" class="zoomImages" alt="A note on keeping/updating formulas manually embedded within one of their spreadsheets"><br><br>
      <strong><h3>INITIAL OBSERVATIONS</h3></strong><br><br>
      Treasury’s legacy processes involve a ton of manual labor– querying, filtering, data transfer, math work (they maintain actual formula sheets!!!), and back and forth between applications– to successfully generate a single report or request.<br><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong><h3>GOALS</h3></strong><br><br>
          1. To present complex data in a way that is (1) easy to understand and comprehend and (2) easier on the eyes so that users can focus on making decisions central to their workflow.<br><br>
          2. To minimize manual data entry for Treasury users.<br><br>
          3. To augment this solutions package with a front end design for an enhanced user experience.
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br><br>


  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong>Although most of my work is under NDA, I can walk through my thinking behind the external data import (EDI) feature.</strong><br><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong><h3>USER NEED</h3></strong><br><br>
      Treasury users want to upload local data onto the portal so they can easily access and analyze them so they can use bond proceeds more effectively.<br><br><br>
      <strong><h3>JTBD AND INITIAL EXPLORATIONS</h3></strong><br><br>
      Using the JTBD framework, I synthesized my findings into three use cases and sketched out the flows for each case.<br><br>
      <img src="<%= image_path("images/project-treasury/sketch-1.png") %>" class="zoomImages" alt=""><br><br>
      <img src="<%= image_path("images/project-treasury/sketch-2.png") %>" class="zoomImages" alt=""><br><br>
    </div>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong><h3>INVOLVING ENGINEERS</h3></strong><br><br>
      I shared my early sketches with our engineers to validate my assumptions and evaluate the feasibility of my blue sky ideas for this feature. In doing so, I was able to iterate on my designs and copy, veer away from a heavy flip animation for the cards, and focus on infusing system-generated feedback messages into the external data upload experience.<br><br>
      <img src="<%= image_path("images/project-treasury/edi.png") %>" class="zoomImages" alt="External data import feature"><br>
      <img src="<%= image_path("images/project-treasury/edi-notice.png") %>" class="zoomImages" alt="External data import feature"><br>
      <img src="<%= image_path("images/project-treasury/edi-choose.png") %>" class="zoomImages" alt="External data import feature"><br>
      <img src="<%= image_path("images/project-treasury/edi-uploading.png") %>" class="zoomImages" alt="External data import feature"><br>
      <img src="<%= image_path("images/project-treasury/edi-success.png") %>" class="zoomImages" alt="External data import feature"><br>
    </div><br><br>
    <div class="col-md-5ths">
    </div>
  </div><br>

  <div class="row">
    <div class="col-md-5ths">
    </div>
    <div class="col-md-5ths">
    </div>
    <div class="col-md-2-5ths case-image">
      <strong><h3>LOOKING AHEAD</h3></strong><br><br>
      Upon deployment, Treasury users will be able to move away from the legacy system and towards this enterprise system with increased capacity and navigability. As a result, they spend less time compiling data from different sources and more time analyzing those data to use bond proceeds as effectively as possible.<br><br><br>
      <strong><h3>THANK YOU</h3></strong><br><br>
      James Walsh for taking a chance on sophomore year me. Brian, Nedim, Lilith ++ for your dev chops and mini stroopwafels. Especially Nichole Latimer, my manager, and Grant Ng, co-designer-dev-hybrid, for having my back (and for the laughs).
      <img src="<%= image_path("images/project-treasury/joke.png") %>" alt="joke of the day">
    </div>
    <div class="col-md-5ths case-image">

    </div>
  </div>

</div>

<!--Back to Top Link-->
<button onclick="scrollUp()" id="backToTop" title="Go back to top">&#8593; Back to top</button>

<%= render "home/footer" %>