<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="The portfolio website of Maxine Kho">
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <!-- 🛸 Pardon my divs 🛸 -->
    <title><%= content_for(:title) %></title>
    <%= csrf_meta_tags %>

    <!-- Favicon -->
    <link rel="shortcut icon" id="circle" href="<%= image_path("images/dashed-circle.png") %>" type="img/png">

    <!-- JS -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- CSS -->
    <link rel="preload" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132438147-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132438147-1');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>